- id = 'repositories'

- content_for(:panel_header) do
  %h3= "#{params[:namespace].capitalize} Repositories"

:ruby
  content_for(:container) do
    render(
      :partial => 'layouts/panel',
      :locals  => {
        :id => "#{id}-panel",
        :heading => content_for(:panel_header),
        :panel_content => render(:partial => 'repositories/summary', :locals => {:enabled => @enabled_repositories, :disabled => @disabled_repositories})
      }
    )
  end

= render(:partial => 'layouts/container', :locals => { :container_class => params[:namespace], :container_id => id })
